
<h1>Recommendations for "<%= @search_title %>"</h1>
<ul>
  <% @results.each do |result| %>
  <li>
    <div class="movieRecommendations">
      <%= link_to "#{result['Index']}) #{result['Name']}", recommendation_path(result['Name']) %>
    </div>
    <% movie_title = result['Name'] %>
    <%= link_to image_tag("#{@poster[result['Index']-1]['Poster']}", :size => '200x297', :class => "indexPoster", :id => "#{result['Name']}Poster" ), recommendation_path(movie_title) %>
  </li>
  <% end %>
</ul>

<div class="userScreenOptions">
  <%= button_to "Enter New Movie", recommendation_search_index_path, :method => :get, :class => "optionButton" %>

  <%= button_to "Go To User Screen", user_screen_index_path, :method => :get, :class => "optionButton" %>
</div>
