
<% movieTitle = @movie_title['Title']%>
<% movieTitle = movieTitle.downcase! %>
<div class="movieDisplay">
  <img class="individualPoster" src="<%= @movie_title['Poster'] %>" />
  <div class="movieInfo">
    <div class="movieInfoYear">
      <div class="movieInfoTitle"><%= @movie_title['Title'] %></div>
      (<%= @movie_title['Year'] %>)
    </div>

    <div class="ratingRuntimeGenreRelease">
      <div class="rated"><%= @movie_title['Rated'] %></div>
      <div class="runtime"><%= @movie_title['Runtime'] %></div>
      <div class="genre"><%= @movie_title['Genre'] %></div>
      <div class="release"><%= @movie_title['Released'] %></div>
    </div>
    <div class="plot"><%= @movie_title['Plot'] %></div>
    <div class="crew"><strong>Director: </strong><%= @movie_title['Director'] %></div>
    <div class="crew"><strong>Writer: </strong><%= @movie_title['Writer'] %></div>
    <div class="crew"><strong>Stars: </strong><%= @movie_title['Actors'] %></div>

  </div>
</div>

<br>

<div class="buttons">

  <%= button_to "Leave Movie", recommendations_path, :method => :get, :class => "optionButton" %>

  <%= button_to "Send to Watch List", new_user_screen_path(:id =>movieTitle, :status => "watchlist", :class => "sendToWatchList"), :method => :get, :class => "optionButton" %>

  <%= button_to "Send to Already Watched List", new_user_screen_path(:id =>movieTitle, :status => "already watched list"), :method => :get, :class => "optionButton" %>

</div>
