<div id="logoUserScreen">
  <%= image_tag('SeeTheseMoviesLogo.png') %>
</div>

<h3 class="recScreenFormHeader">Type in a Movie Title for Recommendations:</h3>

<%= form_for @recommendation do |form| %>
  <%= form.label :title, "Search Recommendation", :class => "hideField" %>
  <%= form.text_field :title, :class => "recTextField", :placeholder => "Type movie title here..." %><br>
  <%= form.submit "Get Recommendations", :class => 'btn-large strapless submit_button' %>
  <% @clear_recommend_search %>
<% end %>


<div class="listIndexOptions">

  <%= button_to "Go To User Screen", user_screen_index_path, :method => :get, :class => "btn otherColorButton" %>

</div>

